* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white; 
  --bg-url: url(./assets/GiZRfh.webp);
  --strok-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgb(141, 39, 162);
  --highlight-color: rgba(255, 255, 255, 0.05); 
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg); 
  --strok-color: rgb(222, 96, 234);
   --surface-color: rgb(232, 195, 234);
   --highlight-color: rgb(225, 167, 211);
   --switch-bg-url: url(./assets/sun.svg);
}

body {

  /*background: color image repeat position/size */
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color:var(--text-color);
}

#container {
  width: 360px;
  margin: 56px auto 0px auto;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

/* profile */
#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}

/* switch */

#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  }

  .light #switch button {
    right: 0;
    left: initial;
  }

  #switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px var(--strok-color);
    --webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
  }

/*links*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--strok-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

/*pseudo-selector*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a{
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 16px; 
  transition: background: 0.2;
  border-radius: 50%; 
}

#social-links a:hover {
  background: var(--highlight-color);
  
}

  footer {
    padding: 24px 0;
    text-align: center; 
    font-size: 14px;
  }